*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #a68bc0;
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background: #192b9e;
}

html {
  scroll-behavior: smooth;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(./images/landingPage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  padding: 0.5% 6%;
  background: #040d2e;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #5ed1cb;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  border-radius: 5px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #4bada8;
  background: #5ed1cb;
  color: #152b42;
  transition: 1s;
}

nav .fas {
  display:none;
}
@media(max-width: 700px){

  nav img {
    width: 80px;
  }

  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    list-style: none;
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #4b2e69;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin: 30px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .nav-links ul li:hover::after {
    width: min-content;
  }
}

/* What We Do */

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #333;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background-color: #acdfe3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: 0.5s;
}

h3{
   text-align: center;
   font-weight: 600;
   margin: 10px 0px;
}

.course-col:hover {
  box-shadow: 0 0 50px 0px rgba(0,0,0,0.5);
}
@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* clients */

.clients {
  background:#0e1a64;
  color: #fff;
  border-radius:10%;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10%;
  box-shadow:
    0 0 30px 10px #0e1a64,  /* inner white */
    0 0 50px 20px #303e9c, /* middle magenta */
    0 0 80px 30px #0ff; /* outer cyan */
}

.clients p{
  color: #fff;
}

.cards {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: transparent;
  transition: 0.5s;
  position: relative;
}

.cards::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5ed1cb;
  transition: 0.5;
  clip-path: circle(250px at center);
}

.container {
  position: relative;
  width: 1100px;
  height: 400px;
}

.container .card{
  position: absolute;
  top: calc(50% - 200px);
  left: 50%;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg) skew(-20deg, -15deg) scale(0.6);
  box-shadow: 25px 25px 100px rgba(0, 0, 0, 0.2);
  z-index: calc(0 * var(--i));
  transition: 0.5s;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container .card:nth-child(2)
{
  opacity: 0.8;
}

.container .card:nth-child(3)
{
  opacity: 0.6;
}

.container:hover .card {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  opacity: 1;
  transform: translateX(calc(-50% + calc(350px * var(--i)))) translateY(-50%) rotate(0deg) skew(0deg, 0deg) scale(1);
}

.container .card .content img {
  position: relative;
  display: block;
  padding-bottom: 30px;
  width: 150px;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}

.container:hover .card .content img {
  opacity: 1;
  transition-delay: calc(0.2s * var(--j));
  transform: translateY(0px);
}

.card .content a {
  text-decoration: none;
}

.card .content .fab {
  position: relative;
  display: block;
  color: #888;
  margin: 30px;
  font-size: 50px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50px);
}

.card .content .fab:hover {
  color: #0e1a64;
}

.card:hover .content .fab{
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 900px) {

  .clients {
    border-radius: 20px;
  }

  .cards {
    background: transparent;
  }

  .cards::before {
    clip-path: circle(250px at center);
    display: none;
  }
  .container {
    width: 100%;
    height: initial;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .card {
    position: relative;
    top: initial;
    left:initial;
    transform: initial;
    margin: 20px;
    opacity: 1 !important;
  }
  .container:hover,
  .container:hover .card{
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
  }

  .container .card .content img {
    opacity: 1;
    transform: translateY(0px);
  }

  .card .content .fab {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* footer */

footer {
  
  background: #0e1a64;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  text-align: center;
}
.footer-center h3{
  font-size:1.8rem;
  font-weight:600;
  text-transform:capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  color: #fff;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 30px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color 0.7 ease;
}
.socials a:hover i{
  color:#5ed1cb;
}
.footer-bottom {
  background:rgba(4, 9, 30, 0.7);
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fff;
  font-size:14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
